* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica neue';
  font-size: 16px;
  color: #5D67D4;
  background: url('wal.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav {
  margin: 30px;
  padding: 10px;
  text-align: center;
  background: rgba(180, 183, 184, 0.5);
}

#main-content {
  width: 700px;
  margin: 40px;
  padding: 20px;
  background: rgba(135, 230, 245, 0.5);
  border-radius: 25px;
}

.chart {
  text-align: right;
}

footer {
  height: 30px;
  bottom: 5;
  text-align: center;
  padding: 20px;
  border-top: 1px solid gray;
  font-size: 12px;
}
